button{
    all: unset;
}
div{
    background-color: rgb(0, 0, 0);
    width: 20px;
    height: 60px;
    margin: 2px;

}
p{
    color: red;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    margin: 40px;
}
.father{
    height: 100px;
    width: 300px;
    background:gainsboro;
}
.child{
    height: 100px;
    width: 100px;
    background: tomato;
    margin: 0 auto;
}